#one {
    animation: slide 1s ease;
}

#two {
    animation: slide 2s ease;
}

#three {
    animation: slide 3s ease;
}

#four {
    animation: slide 4s ease;
}

#five {
    animation: slide 5s ease;
}

#six {
    animation: slide 6s ease;
}

#seven {
    animation: slide 7s ease;
}

#eight {
    animation: slide 8s ease;
}

#nine {
    animation: slide 9s ease;
}

#ten {
    animation: slide 10s ease;
}