$police_logo_titres: 'Sharikhand';
$police_logo_texte:'Roboto';
$color-primary: #9356DC;
$color-secondary: #f46acd;
$color-tertiary: #99E2D0;
$fond-gris-footer: #353535;
$shadow: 10px 10px 10px rgba(0, 0, 0, .25);